*esult*
*PrepProc*
*.t7
*.bm
*.log
*.prof
_iter*
*prof*
*utput*
*.class
*.pyc
*.swp
*.out
_*
nohup*
*log*
*params
.-*
*.params
*.json
model.ckpt*
settings.py
*tmp*
*rained_models
eval_model
*.out*
multigpu-trained
*-b*.prototxt
*tmp*
*Models*
*.caffemodel
*.solverstate

